/*==========================================
        General Styles
  ==========================================*/
.clear { clear: both; }

/*==========================================
        Results Styles
  ==========================================*/
#candidates_results {
        data-type:vertical;
}

.results_pic {
        width:100%;
        height:auto;
        margin-bottom:20px;
}

.results_left {
        float:left;
        width:25%;
        height:auto;
}

/* Stuff on the right side of the page */
.results_right { float:right; width: 70%; }
.results_right h2, .results_right p {  }

/*==========================================
        Candidates Styles
  ==========================================*/
.candidate_image { width: 50%; max-width: 320px; }

#candidate1 {
        data-type:horizontal;
}

#candidate2 {
        /* Nada */
}

#candidate3 {
        /* Nada */
}